
.form_box{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.form_content{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.input_field{
    width: 230px;
    height: 37px;
    padding: 10px;
    outline: none;
    border: none;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.add_btn{
    width: 70px;
    height: 37px;
    background-color: #4546A1;
    color: #fff;
    border: none;
}
.add_btn:hover{
    cursor: pointer;
}
.err_text{
    height: 20px;
    font-size: 14px;
    color: red;
}